<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

  <link rel="stylesheet" href="tem 1.css">

  <title>Gym Template!</title>
</head>

<body>


  <!-- Header Section -->
  <nav class="navbar navbar-expand-lg jon-header">
    <div class="container">

      <a class="navbar-brand"> <span><i class="fas fa-dumbbell"></i></span> Best Gym</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav jon-menu mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Client</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>

        <a class="btn btn-outline-danger btn-lg font-weight-bold" href="#">Join Us</a>

      </div>

    </div>
  </nav>

  <!-- Slider Section -->
  <section class="slider-section mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="slider-caption text-white text-center">
            <h4>The World Best Gym</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="about-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-text-left">
            <h1 class="mb-4">Activity Goals to Improve Health</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos qui dicta soluta illo,
              natus quas, ipsum nesciunt eum vero, quia voluptatibus magnam consequuntur! Necessitatibus a consequatur
              porro tempore facilis possimus quam quis molestiae!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <img class="mw-100 rounded" src="../img-2/f10.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Team Section -->
  <section class="our-team-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Our Team Member</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- Feauter Section -->
  <section class="feature-section py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f12.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f13.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f14.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f15.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f16.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feauter-item d-flex align-items-center">
            <div class="left-img-sec h-100">
              <img src="../img-2/f12.jpg" alt="">
            </div>
            <div class="left-test-sec">
              <h4>Heat Point</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dignissimos, inventore optio .</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Portfolio Section -->
  <section class="portfolio-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col bgc text-center rounded">
          <h1 class="mt-4">Look at our Services</h1>
          <p class="lead py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo reprehenderit dolor
            in tenetur earum? Et eius dicta, illo quos optio perferendis beatae sit corrupti praesentium! Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Ipsa.</p>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f1.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f2.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f3.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f4.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f5.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f6.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f17.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f18.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="portfolio-item">
            <a href="#"><img class="mw-100 rounded" src="../img-2/f19.jpg" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Testimonal Section -->
  <section class="testimonal-section py-5">
    <div class="container">
      <div class="row">
        <div class="col sayed text-center py-5 rounded">

          <div class="testimonial-item w-75 mx-auto">
            <h4 class="text-muted mb-2">Feedback from our Client</h4>

            <h1 class="mb-4">What do users say about our application</h1>

            <span> <i class="fas fa-quote-left"></i> </span>

            <p class="lead mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, ullam cupiditate sed
              laudantium ab quibusdam ratione.</p>

            <div class="author-info">
              <img class="float-left rounded-circle" src="../img/face1.jpg" alt="">

              <div class="user-details">
                <h5>Jon Due</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Client About Section -->
  <section class="about-section sayed py-5">
    <div class="container">
      <div class="row">
        <div class="col mb-4">
          <h1 class="text-center aka">Team History</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perferendis mollitia magnam aliquid laudantium nihil aspernatur dolor officia architecto molestiae necessitatibus adipisci nam placeat ipsa explicabo, sequi labore error neque! Minima, asperiores, saepe facere nobis nostrum eaque veritatis exercitationem voluptas rerum natus illum?</p>
        </div>
        <div class="col-lg-6">
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perferendis mollitia magnam aliquid laudantium nihil aspernatur dolor officia architecto molestiae necessitatibus adipisci nam placeat ipsa explicabo, sequi labore error neque! Minima, asperiores, saepe facere nobis nostrum eaque veritatis exercitationem voluptas rerum natus illum?</p>
        </div>
      </div>

      <div class="row mt-4">

        <div class="col-lg-3">
          <div class="about-item">
            <div class="card border-0 shadow">
              <img class="rounded-circle" src="../img-2/fc1.jpg" alt="">
              
              <div class="card-body">
                <h4 class="card-title text-center mb-3">Jonson</h4>
                <h6 class="card-subtitle mb-3">Gym Speciliest</h6>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur.</p>
                <a class="btn btn-outline-warning mx-5 shadow" href="#">Website</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="about-item">
            <div class="card border-0 shadow">
              <img class="rounded-circle" src="../img-2/fc2.jpg" alt="">
              
              <div class="card-body">
                <h4 class="card-title text-center mb-3">Robart Smith</h4>
                <h6 class="card-subtitle mb-3">Gym Speciliest</h6>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur.</p>
                <a class="btn btn-outline-warning mx-5 shadow" href="#">Website</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="about-item">
            <div class="card border-0 shadow">
              <img class="rounded-circle" src="../img-2/fc3.jpg" alt="">
              
              <div class="card-body">
                <h4 class="card-title text-center mb-3">John Hanrye</h4>
                <h6 class="card-subtitle mb-3">Gym Speciliest</h6>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur.</p>
                <a class="btn btn-outline-warning mx-5 shadow" href="#">Website</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="about-item">
            <div class="card border-0 shadow">
              <img class="rounded-circle" src="../img-2/fc4.jpg" alt="">
              
              <div class="card-body">
                <h4 class="card-title text-center mb-3">Rechard Shon</h4>
                <h6 class="card-subtitle mb-3">Gym Speciliest</h6>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur.</p>
                <a class="btn btn-outline-warning mx-5 shadow" href="#">Website</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p class="lead mb-3">We need to know your opinion</p>
          <h1 class="mb-5">Write to us and we will contact you</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="contact-form-div">
            <div class="card text-center border-0 shadow">
              <div class="card-body">
                <h4 class="mb-4">Send us a Message</h4>
                <form action="#">
                  <input type="email" class="form-control form-control-lg text-center mb-4 mt-3"
                    placeholder="E-mail Address">
                  <div class="row ">
                    <div class="col-lg-6 mb-4">
                      <input type="text" class="form-control form-control-lg text-center" placeholder="Name">
                    </div>
                    <div class="col-lg-6 mb-4">
                      <input type="text" class="form-control form-control-lg text-center" placeholder="Your Phone">
                    </div>
                  </div>
                  <textarea name="" class="form-control form-control-lg text-center mb-4"
                    placeholder="Massage"></textarea>
                  <button class="btn btn-outline-danger shadow btn-lg">Contact Us</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="sayed py-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="mb-0 lead">&copy; All Right Reserved by Developer Sayed</p>
        </div>
      </div>
    </div>
  </footer>





  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</body>

</html>