<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayed</title>
    <link rel="stylesheet" href="tem 2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>

    <nav id="navebar">
        <div id="logo">
            <img src="../img/gym-logo.png" alt="">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li> <!-- li.item{<a></a>}*5 -->
            <li class="item"><a href="#">Service</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Client</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to MyOnlineMeal</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem hic deserunt qui odio iste quos.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem hic?</p>
        <button class="btn">Order Now</button>
    </section>

    <section class="service-container">
        <h1 class="h-primary text-center">Our Foods</h1>
        <div class="services">
            <div class="box">
                <img src="../img/pizza-5.png" alt="">
                <h2 class="h-secondary text-center">Food Ordering</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit?
                </p>
            </div>
            <div class="box">
                <img src="../img/pizza-2.png" alt="">
                <h2 class="h-secondary text-center">Food Catering</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit?
                </p>
            </div>
            <div class="box">
                <img src="../img/pizza-3.png" alt="">
                <h2 class="h-secondary text-center">Bulk Ordering</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit?
                </p>
            </div>
            <div class="box">
                <img src="../img/pizza-4.png" alt="">
                <h2 class="h-secondary text-center">Food Ordering</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit?
                </p>
            </div>
        </div>
    </section>

    <section id="coocker-section">
        <h1 class="h-primary text-center">Our Coocker</h1>
        <div id="coockers">
            <div class="coocker-item">
                <img src="../img/cook-1.jpg" alt="our coocker">
            </div>
            <div class="coocker-item">
                <img src="../img/cook-2.jpg" alt="our coocker">
            </div>
            <div class="coocker-item">
                <img src="../img/cook-3.jpg" alt="our coocker">
            </div>
            <div class="coocker-item">
                <img src="../img/cook-4.jpg" alt="our coocker">
            </div>
        </div>
    </section>

    <section id="client-section">
        <h1 class="h-primary text-center">Our Client</h1>
        <div id="clients">
            <div class="client-item">
                <img src="../img/face1.jpg" alt="our client">
                <h2>Alex</h2>
            </div>
            <div class="client-item">
                <img src="../img/face2.jpg" alt="our client">
                <h2>Jisika</h2>
            </div>
            <div class="client-item">
                <img src="../img/face3.jpg" alt="our client">
                <h2>Jeson</h2>
            </div>
            <div class="client-item">
                <img src="../img/face4.jpg" alt="our client">
                <h2>Angel</h2>
            </div>
        </div>
    </section>

    <section id="contact">
        <h1 class="h-primary text-center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" name="name" id="name" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="name">Phon Number</label>
                    <input type="phone" name="name" id="name" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="name">Massage</label>
                    <textarea name="massage" id="massage" cols="10" rows="5"></textarea>
                </div>
                <button class="btn">Submit Now</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="text-center">
            Copyright &copy; www.myOnlineMeal.com, All rights reserved!
        </div>
    </footer>

</body>

</html>