@media (max-width: 1400px) {
    .mid-content {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 1050px) {
    .logo img {
        height: 55px;
    }

    .logo span {
        font-size: 25px;
    }
}

.primary-menu span{
    display: none;
}

@media (max-width: 992px) {
    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .logo img {
        float: inherit;
    }

    .logo span {
        position: relative;
        top: -22px;
    }

    .header-menu {
        width: 100%;
    }

    .header-button {
        width: 200px;
        text-align: right;
        position: absolute;
        right: 20px;
        top: 71px;
    }

    .primary-menu span {
        font-size: 40px;
        color: red;
        cursor: pointer;
        display: block;
    }

    .primary-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}

@media(max-width:768px) {
    .banner-content h3{
        font-size: 25px;
    }
    
    .banner-content h2{
        font-size: 45px;
    }
    
    .default-btn{
        padding: 10px 13px;
        font-size: 19px;
    }

    .banner-section {
        margin-top: 0px;
        background-attachment: inherit;
    }

    .header-section {
        position: relative;
    }
}