body{
    background-color: #353535;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
}

div span{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 70px;
}

span:first-child{
    animation: red 0.5s linear infinite;
    animation-delay: 0.5s;
}

@keyframes red {
    from{
        text-shadow: 0 0 5px red,
        0 0 15px red,
        0 0 30px red,
        0 0 60px red;
    }
}

span:last-child{
    animation: blue 0.5s linear infinite;
    animation-delay: 0.5s;
}

@keyframes blue {
    from{
        text-shadow: 0 0 5px blue,
        0 0 15px blue,
        0 0 30px blue,
        0 0 60px blue;
    }
}