/* CSS Part-9 ---- part-2 Creating a basic Website by all Previews day code that we have learned */

*{
    margin: 0;
    padding: 0;
}

.full-website{
    text-align: center;
    color: whitesmoke;
}

.menu{
    background-color: #e67e22;
    padding: 20px;
}

.menu h2{
    font-size: 2.4rem;
}

.banner img{
    height: 100%;
    width: 100%;
    margin-bottom: -5px;
}

.container{
    background-color: #12CBC4;
    padding: 90px;
}

.container h2{
    font-size: 3.5rem;
}

.container p{
    font-size: 1.3rem;
}

.footer{
    background-color: #A3CB38;
    padding: 70px;
}

.footer h2{
    font-size: 3rem;
}

.footer-bottom{
    background-color: #6F1E51;
    padding: 15px;
}

.footer-bottom p{
    font-size: 1.4rem;
}