/* CSS Part-6  CSS Box-type Padding, Margin, Border, etc */

*{
    margin: 0;
    padding: 0;
}

/* h2{
    display: inline-block;
    color: brown;
    background-color: rgb(214, 207, 207);

    padding: bad55px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    margin: bad10px;

    margin-left: 30px;
    margin-top: 20px;
    border: 15px solid red;
} */

h1{
    color: rgb(205, 72, 63);
    background-color: rgb(100, 187, 100);
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

h3{
    color: rgb(205, 72, 63);
    background-color: rgb(100, 187, 100);
}

p{
    color: rgb(205, 72, 63);
    background-color: rgb(250, 202, 112);
}

a{
    display: inline-block;
    color: red;
    background-color: rgb(248, 237, 88);
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid rgb(34, 202, 4);
    border-radius: 15px;
}