/* CSS Part-16----Details with CSS Before & After, Before After Hover and Use Icon. */

*{
    margin: 0;
    padding: 0;
}

h1{
    color: tomato;
    text-align: center;
    font-size: 50px;
}

h1::after{
    content:"-pore";
}

h1::before{
    content: "Age-";
}

h2{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 20px;
    text-align: center;
}

p::before{
    content: ' " ';        
}

p::after{
    content: ' " '; 
}

/* Button Section */

.button-div1{
    text-align: center;
    margin-top: 50px;
}

.click-class1{
    font-size: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 255, 115);
    display: inline-block;
    padding: 15px 40px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.click-class1::before{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
    border-radius: 25px;
    transition: .5s;
    z-index: -1;
}

.click-class1:hover::before{
    height: 100%;
}

.button-div2{
    text-align: left;
    margin-left: 100px;
}

.click-class2{
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    color: white;
    background-color: rgb(7, 197, 255);
    padding: 15px 40px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.click-class2::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 1, 221);
    border-radius: 25px;
    transition: .5s;
    z-index: -1;
}

.click-class2:hover::before{
    width: 100%;
}

.button-div3{
    text-align: right;
    margin-right: 100px;
}

.click-class3{
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    color: white;
    background-color: rgb(255, 197, 6);
    padding: 15px 40px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.click-class3::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: rgb(195, 0, 255);
    border-radius: 25px;
    transition: .5s;
    z-index: -1;
}


.click-class3:hover::before{
    width: 100%;
}

/* Font Icon Section */

.unorder ul{
margin-left: 40px;
list-style: none;
}

li{
    font-size: 30px;
}

li::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: red;
    font-size: 35px;
    display: inline-block;
    margin-right: 10px;
}

.order ol{
    margin-left: 100px;
    list-style: none;
    margin-top: 30px;
}

.order ol li{
    font-size: 40px;
}

.order ol li::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    color: rgb(255, 2, 234);
    font-size: 35px;
    display: inline-block;
    margin-right: 10px;
}

.unorder-1 ul{
    margin-left: 50px;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.unorder-1 ul li{
    font-size: 30px;
}

.unorder-1 ul li::before{
    content: "\f35a";
    font-family: "Font Awesome 5 Free";
    font-weight: 6oo;
    color: rgb(255, 218, 6);
    font-size: 40px;
    display: inline-block;
    margin-right: 10px;

}