/* CSS Part-12-----Part-2- Details About CSS Background Image property. */

*{
    margin: 0;
    padding: 0;
}

.main-menu{
    display: inline-block;
    text-align: left;
    margin-left: 200px;
    padding: 5px;
}

.main-menu li{
    display: inline-block;
}

.main-menu li a{
    display: inline-block;   
    color: whitesmoke;
    background-color: rgb(255, 185, 56);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 9px;
    border: 3px solid rgb(9, 255, 0);
    border-radius: 20px;
}

.main-menu li a:hover{
    background-color: orangered;
}

.container{
    background-image: url(img/gym-bi2.jpg);
    background-size: cover;
    background-position: top center; 
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 300px 0;
    background-attachment: fixed;
}

.text{
    height: 800px;
}

.text p{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 165, 244);
    font-size: 1.2rem;
}