/* Website Layout Concept & Bootstrap Grid - Full Details Explanation. */

.header img{
    width: 150px;
    height: auto;
}
.header{
    background-color: rgb(190, 93, 255);
}

.header ul li{
    display: inline-block;
}

.header ul li a{
    padding: 15px 15px;
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 0 19px;
    line-height: 55px;
}

